<div class="container">
  <header class="header">
    <nav class="navbar">
      <div class="logo">
        <h1>Todo Idris</h1>
      </div>
      <ul class="nav-links">
        <li>
          <a class="icon-button" (click)="filterTasks()">
            <i class="bi bi-funnel"></i>
          </a>
        </li>
        <li>
          <a class="icon-button" (click)="sortTasks()">
            <i class="bi bi-sort-alpha-down"></i>
          </a>
        </li>
        <li>
          <a routerLink="/tasks" routerLinkActive="active-link">
            <i class="bi bi-list-task"></i>
          </a>
        </li>
        <li>
          <a routerLink="/add-task" routerLinkActive="active-link">
            <i class="bi bi-plus-circle"></i>
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
