<div class="task-list-container">
  <ul class="task-list" *ngIf="tasks.length > 0; else noTasks">
    <li *ngFor="let task of tasks" class="d-flex align-items-center">
      <!-- Icône validation -->
      <i 
        class="clickable me-2" 
        [class.bi-circle]="!task.isCompleted" 
        [class.bi-check-circle]="task.isCompleted"
        [class.text-success]="task.isCompleted"
        (click)="toggleTaskCompletion(task.id)">
      </i>

      <!-- Titre de la tâche (cliquable) -->
      <a [routerLink]="['/task-details', task.id]" 
         class="task-title {{ task.isCompleted ? 'completed' : '' }}">
        {{ task.title }}
      </a>

      <!-- Icône suppression -->
      <button class="btn btn-danger btn-sm ms-auto" (click)="deleteTask(task.id)">
        <i class="bi bi-trash3-fill"></i>
      </button>
    </li>
  </ul>

  <!-- Message si aucune tâche n'est disponible -->
  <ng-template #noTasks>
    <p class="text-warning text-center mt-3">Aucune tâche disponible. Ajoutez-en une pour commencer !</p>
  </ng-template>
</div>
