<ul class="task-list">
  <li *ngFor="let task of tasks" class="d-flex align-items-center">
    <!-- Icône validation -->
    <i 
      class="clickable me-2" 
      [class.bi-circle]="!task.isCompleted" 
      [class.bi-check-circle]="task.isCompleted"
      [class.text-success]="task.isCompleted"
      (click)="toggleTaskCompletion(task.id)">
    </i>

    <!-- Titre de la tâche (cliquable) -->
    <span [routerLink]="['/task-details', task.id]" 
          class="task-title {{ task.isCompleted ? 'completed' : '' }}">
      {{ task.title }}
    </span>

    <!-- Icône suppression -->
    <button class="btn btn-danger btn-sm ms-auto" (click)="deleteTask(task.id)">
      <i class="bi bi-trash3-fill"></i>
    </button>
  </li>
</ul>
